.collection-page {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
  }

  .items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 750px) {
  .collection-page {
    .title {
      font-size: 30px;
      margin: 0 auto;
    }

    .items {
      display: flex;
      flex-direction: column;

      & .collection-item {
        margin-bottom: 15px;
      }
    }
  }
}
