.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 750px) {
  .sign-in {
    width: 90vw;
    margin-bottom: 50px;

    .title {
      margin-bottom: 5px;
    }

    .buttons {
      flex-direction: column;
    }
  }
}
