.sign-in-sign-up {
  max-width: 850px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  gap: calc(50rem / 16);
}

@media (max-width: 750px) {
  .sign-in-sign-up {
    flex-direction: column;
  }
}
