* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Condensed';
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 750px) {
  body {
    padding: 1rem;
  }
}
